{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "camelcase": 0,
    "quotes": 0,
    "semi": 0,
    "object-curly-spacing": 0,
    "indent": 0,
    "no-warning-comments": 0,
    "no-console": 0,
    "complexity": 0,
    "brace-style": 0,
    "no-trailing-spaces": 0,
    "no-case-declarations": 0,
    "comma-dangle": 0,
    "no-return-await": 0,
    "no-process-exit": 0,
    "padding-line-between-statements": 0,
    "unicorn/no-process-exit": 0,
    "unicorn/filename-case": 0,
    "unicorn/catch-error-name": 0,
    "unicorn/no-abusive-eslint-disable": 0,
    "unicorn/no-array-for-each": 0,
    "unicorn/prefer-node-protocol": 0,
    "unicorn/better-regex": 0,
    "unicorn/no-useless-undefined": 0,
    "unicorn/prefer-module": 0,
    "unicorn/consistent-function-scoping": 0,
    "unicorn/no-console-spaces": 0,
    "unicorn/prefer-negative-index": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "typescript-eslint/consistent-type-assertions": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}
